@inject JSONFileDataService jsonFileDataService
@inject IToastService toastService

<div class="modal fade show" id="notificationModal" style="display:block; background-color: rgba(10,10,10,.8);" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header dark">
                <h4 class="modal-title">Rename Key</h4>
                <button type="button" class="modal-close-btn" @onclick=@ModalCancel>&#10005;</button>
            </div>
            <div class="modal-body dark">
                <h5 class="form-element-title">New Key Name: </h5>
                <div>
                    <input class="text-input short-box" type="text" @bind=@_inputValue />
                </div>
            </div>
            <ConditionalModalErrorMessage ErrorMessage=@_errorMessage />
            <div class="modal-footer dark">
                <button type="button" class="add-btn" @onclick=@ModalOk>Update</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Path { get; set; }

    [Parameter]
    public EventCallback OnClose { get; set; }

    private string? _inputValue;

    private string _errorMessage = "";

    protected override void OnInitialized()
    {
        // set the new value to the existing value
        _inputValue = JSONFileDataService.GetParentPathAndLastKey(Path).Item2;
    }

    private Task ModalCancel() => OnClose.InvokeAsync();

    private Task ModalOk()
    {
        Tuple<int, string> result = jsonFileDataService.RenameKey(Path, _inputValue);

        if (result.Item1 != ResponseUtil.OK)
        {
            _errorMessage = result.Item2;
            // reload modal but don't close it
            StateHasChanged();
            return Task.CompletedTask;
        }

        toastService.ShowInfo($"Renamed key at path : {Path}");

        return OnClose.InvokeAsync();
    }
}