<div class="tree-container">
    @if (JSONToken.GetType() == typeof(JValue))
    {
        <TreeValue Path=@_path JVal=@((JValue)JSONToken) OnParentStateChange=@OnParentStateChange />
    }
    else if (JSONToken.GetType() == typeof(JObject))
    {
        <TreeObject Path=@_path Jobj=@((JObject)JSONToken) OnParentStateChange=@OnParentStateChange />
    }
    else
    {
        @*Tree array must be wrapped with ul tag if it is the root structure - otherwise there will be odd spacing*@
        <ul class="tree-parent-ul">
            <TreeArray Path=@_path Array=@((JArray)JSONToken) OnParentStateChange=@OnParentStateChange />
        </ul>
    }
</div>

@code {
    [Parameter]
    public JToken JSONToken { get; set; }

    [Parameter]
    public EventCallback OnParentStateChange { get; set; }

    private string _path = "";
}
