@page "/"

@rendermode InteractiveServer
@inject NavigationManager navManager

<PageTitle>Home</PageTitle>

<h1>Welcome to TreeClimber, the easy way to edit JSON in a tree view.</h1>

<button @onclick=@NavigateToImport>Import JSON File</button>

@code{
	private void NavigateToImport()
	{
		navManager.NavigateTo("/import");
	}
}