@page "/import"
@rendermode InteractiveServer

@inject IWebHostEnvironment Environment
@inject JSONFileDataService jsonFileDataService
@inject NavigationManager navManager

<h3>Import Your JSON File Here</h3>

<p>
    <label>
        Upload up to @maxAllowedFiles of up to 250MB bytes:
    </label>
    <div>
        <InputFile OnChange="LoadFiles" />
    </div>
</p>

@if (isLoading)
{
    <p>Uploading...</p>
}

@if(_file != null)
{
    <button @onclick=@ImportFile>Import</button>
}

@code {
    private List<IBrowserFile> loadedFiles = [];
    private IBrowserFile? _file;
    private long maxFileSize = 1024 * 238; // 1024 bytes in a kibibyte, * 238 ~= 250MB
    private int maxAllowedFiles = 1;
    private bool isLoading;

    private void LoadFiles(InputFileChangeEventArgs e)
    {
        isLoading = true;
        loadedFiles.Clear();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
            {
                _file = file;
            }
            catch (Exception ex)
            {
                Console.WriteLine("File: {FileName} Error: {Error}",
                    file.Name, ex.Message);
            }
        }

        isLoading = false;
    }

    private async Task ImportFile()
    {
        // load the contents into the JDS
        jsonFileDataService.SetData(_file);

        // FIXME: navigate to treeView (assuming it has passed all checks)
        navManager.NavigateTo("/climb");
    }
}
