@page "/samples"

@inject JSONFileDataService jsonFileDataService
@inject NavigationManager navManager

<PageTitle>Samples</PageTitle>

<h3 class="home-header">Try some sample JSON!</h3>

<div>
    <button class="secondary-btn" @onclick=@LoadRecipe>Recipe</button>
    <button class="secondary-btn" @onclick=@LoadQuiz>Quiz</button>
    <button class="secondary-btn" @onclick=@LoadGlossory>Glossory</button>
</div>

@code {

    public void LoadRecipe()
    {
        IBrowserFile fileStub = new BrowserFileStub("recipe.json");

        JToken fileContents = JToken.Parse(SampleJSON.RECIPE_SAMPLE);

        jsonFileDataService.SetFile(fileStub, fileContents);

        navManager.NavigateTo("/climb");
    }

    public void LoadQuiz()
    {
        IBrowserFile fileStub = new BrowserFileStub("quiz.json");

        JToken fileContents = JToken.Parse(SampleJSON.QUIZ_SAMPLE);

        jsonFileDataService.SetFile(fileStub, fileContents);

        navManager.NavigateTo("/climb");
    }

    public void LoadGlossory()
    {
        IBrowserFile fileStub = new BrowserFileStub("glossory.json");

        JToken fileContents = JToken.Parse(SampleJSON.GLOSSORY_SAMPLE);

        jsonFileDataService.SetFile(fileStub, fileContents);

        navManager.NavigateTo("/climb");
    }
}
