.climb-header {
    color: #fff;
    background-color: #404040;
    width: fit-content;
    font-family: var(--application-font-family);
    padding: 15px;
    border-radius: 20px;
}

.changes-made-container{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}